
#content {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}

li {
    all: unset;
    cursor: pointer;
}

a {
    all: unset;
    font-size: 1.8rem;
    padding: 8px;
    
    color: black;
    transition: .2s;
}
a:hover {
    color: #3aaa52ff;
    transition: .2s;
}
